html {
    background-color: gray;
}

body {
    max-width:1024px;
    margin:0 auto;
}

h1, h2  {
    color: #177D92;
    font-family: 'Righteous', cursive, 'Metrophobic', Arial, serif; font-weight: 500;
}

h3, h4, .password {
    color: #177D92;
    font-family: 'Righteous', cursive, 'Metrophobic', Arial, serif; font-weight: 200;   
}

.accordion, .accordion-content, .accordion-title, p, .tabs {
    color: #4C4B4C;
    font-family: 'Righteous', cursive, 'Metrophobic', Arial, serif; font-weight: 50;   
}

 