---
name: home
url: /
animationIn: fadeIn
---

<div class="grid-block align-center">
    <div class="small-12 medium-10 grid-content">
        <hr>
        <h2 class="text-center">Välkommen till The Joker</h2> 
        <h4 class="text-center">Här kan du läsa och dela roliga historier</h4>
        
        <a zf-open="basicModal" class="button">Hur gör jag?</a>
        <div zf-modal="" id="basicModal">
        <a zf-close="" class="close-button">×</a>
            <h3>Såhär gör du...</h3>
            <p>1. Om du har ett konto gå till login. Om du är en ny användare registrera dig först under login.</p>
            <p>2. Gå till din profil och lägg till en rolig historia. Här kan du också läsa alla dina inlägg samt editera eller tag bort dina inlägg.</p>
            <p>3. Om du vill kan du rösta och ge någon annan poäng för bra historia genom att ge plus + poäng. Top 10 listan är de historier som fått flest röster. Annars är det bara att sätta igång att läsa.</p> 
            <p class="lead">Enjoy!</p>
        </div>
        
        <hr>
        <h3><img src="http://placehold.it/30x30"> Spike</h3>
        <p class="lead"><a class="align-left" href="">historia 1 +</a></p> 
        <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
  
        
        <hr>
        <h3><img src="http://placehold.it/30x30"> Cesar</h3>
        <p class="lead"><a class="align-left" href="">historia 1 +</a></p>
        <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
  
        <hr>
        <h3><img src="http://placehold.it/30x30"> Bruce</h3>
        <p class="lead"><a class="align-left" href="">historia 1 +</a></p>
        <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
  
        <hr>
        <h3><img src="http://placehold.it/30x30"> Molly</h3>
        <p class="lead"><a class="align-left" href="">historia 1 +</a></p>
        <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
    
        <hr>
        <h3><img src="http://placehold.it/30x30"> Dexter</h3>
        <p class="lead"><a class="align-left" href="">historia 1 +</a></p>
        <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
   
        <hr>
        <h3><img src="http://placehold.it/30x30"> Felix</h3>
        <p class="lead"><a class="align-left" href="">historia 1 +</a></p>
        <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
    
        <hr>
        <h3><img src="http://placehold.it/30x30"> Mario</h3>
        <p class="lead"><a class="align-left" href="">historia 1 +</a></p>
        <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
        
        <hr>
        <h3><img src="http://placehold.it/30x30"> Peach</h3>
        <p class="lead"><a class="align-left" href="">historia 1 +</a></p>
        <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
   </div>
</div>   
   
<div ui-view></div>



    
