---
name: profile
url: /profile
animationIn: slideInDown
---

<div class="grid-block align-center">
     <div class="small-12 medium-10 grid-content">
        <hr>
        <h3><img src="http://placehold.it/30x30"> Spike</h3>
        <ul>
          <li>
            <h4>Lägg till dina roliga historier genom message, max 1000 tecken.</h4>
          </li>
           <li>
            <h4>Klicka i listan för att kika på det du lagt in.</h4>
          </li>
           <li>
            <h4>Editera eller Tag bort dina meddelanden i listan.</h4>
          </li>
        </ul>
        <input type="text" placeholder="Message">
        <a href="#" class="button">Send</a>
    </div> 
    
     <div class="small-12 medium-10 grid-content">
        <zf-accordion>
            <zf-accordion-item title="historia 3">
                Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.
            </zf-accordion-item>
            <zf-accordion-item title="historia 2">
                Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.
            </zf-accordion-item>   
            <zf-accordion-item title="historia 1">
                Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.
            </zf-accordion-item>
        </zf-accordion>
    </div> 
    
</div>
       
